<div class="container"><h4>Add Store</h4>
<form [formGroup]="connectionForm" (ngSubmit)="onSubmit()">
  <div>
    <label for="nameStore">Name Store:</label>
    <input type="nameStore" id="nameStore" formControlName="nameStore">
  </div>
  <div>
    <label for="categorie">Choose statuse:</label>
    <select formControlName="selectStatuse" id="statuse" (change)="onSelect($event)">
      <option *ngFor="let item of statuses" [value]="item.statusId"   >{{item.type}}</option>
    </select>
  </div>
  <div>
    <label for="categorie">Choose category:</label>
    <select formControlName="selectCategorie" id="categorie" (change)="onSelect2($event)">
      <option *ngFor="let item of categories" [value]="item.categorieId">{{item.nameCategorie}}</option>
    </select>
  </div>
<br>
  <div>
    <label for="email">Email:</label>
    <input type="email" id="email" formControlName="email">
  </div>
  <div>
    <label for="telephone">Telephone:</label>
    <input type="tel" id="telephone" formControlName="telephone">
  </div>
  <div>
    <label for="secondTelephone">Second Telephone:</label>
    <input type="tel" id="secondTelephone" formControlName="secondTelephone">
  </div>
  <div>
    <label for="isConfirmSms">Confirm SMS:</label>
    <input type="checkbox" id="isConfirmSms" formControlName="isConfirmSms">
  </div>
  <div>
    <label for="isConfirmEmail">Confirm Email:</label>
    <input type="checkbox" id="isConfirmEmail" formControlName="isConfirmEmail">
  </div>
<h4>Address Fields</h4>
<div>
    <label for="city">City:</label>
    <input type="text" id="city" formControlName="city">
  </div>
  <div>
    <label for="houseNumber">House Number:</label>
    <input type="text" id="houseNumber" formControlName="houseNumber">
  </div>
  <div>
    <label for="familyDoor">Family at the Door:</label>
    <input type="text" id="familyDoor" formControlName="familyDoor">
  </div>
  <div>
    <label for="floor">Floor:</label>
    <input type="text" id="floor" formControlName="floor">
  </div>
  <div>
    <label for="entrance">Entrance:</label>
    <input type="text" id="entrance" formControlName="entrance">
  </div>
  <div>
    <label for="street">Street:</label>
    <input type="text" id="street" formControlName="street">
  </div>
  <br>

  <button class="btn btn-outline-success" type="submit">Submit</button>
</form>
</div>
<!-- Choose status :
<select [(ngModel)]="selectStatus" (ngModelChange)="onSelect($event)" id="status"   >
  <option *ngFor="let item of statuses" [value]="item.statusId"   >{{item.type}}</option>
</select>
<br> -->

<!-- Choose categorie : -->

<!-- <select [(ngModel)]="selectCategorie" (ngModelChange)="onSelect2($event)"  id="categorie"   >
  <option *ngFor="let item of categories" [value]="item.categorieId" >{{item.nameCategorie}}</option>
</select> -->


<div class="container"><h4>Add Categorie of store</h4>
  <form [formGroup]="connectionForm2" (ngSubmit)="onSubmit2()">
    <div>
      <label for="name">Name Categorie:</label>
      <input type="name" id="name" formControlName="name">
    </div>

  Choose Parent categorie :

  <div>
    <label for="categorie">Choose category:</label>
    <select formControlName="selectCategorie" id="categorie" (change)="onSelectParentCaegorie($event)">
      <option *ngFor="let item of categories" [value]="item.categorieId">{{item.nameCategorie}}</option>
    </select>
  </div>

  <br>

    <div>
      <label for="isActive">isActive:</label>
      <input type="checkbox" id="isActive" formControlName="isActive">
    </div>
  <br>

    <button class="btn btn-outline-success" type="submit">Submit</button>
  </form>

  </div>
